{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row-checkout">

     <!-- shipping address and information  -->
     <div class="column-checkout">
          <form id="form">
               <div class="user-info">
                    <input required  type="text" name="name" placeholder="Name..">
                    <input required  type="email" name="email" placeholder="Email..">
               </div>

               <hr>
               <div class="shipping-info">
                    <p>Shipping Information</p>
                    <input required  type="text" name="address" placeholder="Address..">
                    <input required  type="text" name="city" placeholder="City..">
                    <input required  type="text" name="state" placeholder="State..">
                    <input required  type="text" name="pin" placeholder="Pin Code..">
               </div>

               <hr>
               <input type="submit" class="btn btn-success btn-block" value="Continue" id="form-button">
     
               </div>
          </form>

     <!-- total and summary  -->
     <div class="column-checkout">
          <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
          <hr>

          <h3>Order Summary</h3>
          <hr>
          <div class="checkout-order-summary">
               <p>Items:</p>
               <p><strong> Total Pay:</strong></p>

          </div>
     </div>
</div>
                        
{% endblock content %}