.tt-logo-font{
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Space Mono', monospace;
}


/* store.html  */

.img-style{
    padding: 1rem;
}

.main{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.btn-and-price{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
}

.btn-primary{
    background-color: #4C4588;
    border-color: #4C4588;
}


/* cart.html  */

.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 15px;
}

.item-table th{
    text-align: left;
    background-color: rgb(88, 98, 98);
    color: aliceblue;
    padding: 1vh;
    font-weight: normal;
}

.item-table tr{
    background-color: rgb(230, 248, 248);
    border: 5px auto;
}

.item-table td{
    padding: 10px 5px;
}

.cart-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: 20px;
}

.cart-info img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart-page input{
    width: 50px;
    height: 30px;
    padding: 5px;
}